body,
html {
  height: 100%;
  display: block;
}
* {
  box-sizing: border-box;
  outline: none;
}

body {
  color: #3f7d95;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

a {
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}

li {
  list-style: none;
}
// 폰트 기본값 설정
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0;
  padding: 0;
  color: #374957;
  line-height: 1.4;
}

// display block 설정 mixin
@mixin block {
  display: block;
}

// 정렬 목적으로 mixin 생성
@mixin row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
// heigth를 최대로 지정하는 mixin

@mixin full-height {
  height: 100% !important;
}

// 마진을 0으로 변경하는 mixin

@mixin mg-none {
  margin: 0;
}

// 패딩을 0으로 변경하는 mixin

@mixin pd-none {
  padding: 0;
}

// 아이템 중앙정렬 mixin

@mixin vertical-center {
  align-items: center;
}

// 아이콘 크기 mixin

@mixin sm-icon {
  width: 14px;
  height: 14px;
  font-size: 14px;
  line-height: 14px;
}

// 버튼 mixin 배경, 텍스트 padding 값을 입력하여 수정가능
@mixin button($bg: #2bc48a, $pd: 30px) {
  font-size: 16px;
  border: none;
  text-align: center;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  padding: 0 $pd;
  min-width: 44px;
  height: 44px;
  font-size: 16px;
  transition: 0.25s linear;
  background: $bg;
  color: #fff;
}
// 작은 버튼 mixin
@mixin btn-sm {
  min-width: 34px;
  height: 34px;
  font-size: 14px;
}

// container mixin
@mixin container {
  max-width: 1520px;
  padding: 0 60px;
  margin: 0 auto;
}

// 배경색

$hd-bg: #0b2239;

#viewport {
  width: 100%;
  background-color: #fff;
  min-height: 100%;
  position: relative;
}

// 헤더 섹션
#header {
  background: none;
  margin: 0;
  border: none;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 14;
  width: 100%;
  &__menu {
    height: 54px;
    background-color: $hd-bg;
    padding: 0 20px;

    &__row {
      @include row;
      @include full-height;
      @include vertical-center;
      @include mg-none;

      // 로고 크기 설정
      img {
        width: 154px;
        height: 30px;
      }
    }
    // nav 설정
    &__nav {
      flex: 1;
      font-size: 20px;
      padding: 0 20px;
      font-size: 14px;

      &__main-menu {
        overflow: visible;
        height: 100%;

        a {
          font-weight: 600;
          color: #cfd9e0;
          margin: 10px;
        }
        ul {
          @include mg-none;
          @include vertical-center;
          @include row;
          padding: 0;
          align-items: center;
        }
        // more 버튼
        &__popover-container {
          display: inline-block;
          margin-right: 10px;

          &__btn {
            cursor: pointer;
            font-weight: 600;
            color: #cfd9e0;
            margin: 10px;
          }

          i {
            @include sm-icon;
          }
        }

        .push-right {
          margin-left: auto;
        }
        &__lang-sel {
          margin-right: 10px;
          display: inline-block;
          .popover-button {
            @include button($bg: transparent, $pd: 20px);
            @include btn-sm;
            display: inline-flex !important;
            align-items: center;
            justify-content: center;
            font-weight: 600;

            &:hover {
              background-color: #113255;
            }
            img {
              width: 16px;
              height: 16px;
              border: 0;
              max-width: 100%;
            }
          }
        }
        .pricing {
          font-weight: 600;
          color: #cfd9e0;
        }
      }
    }

    &__login {
      @include row;
      height: 36px;
      min-width: 60px;
      margin: 0;

      a:nth-child(1) {
        margin-right: 20px;
        font-weight: 600;
        color: #fff;
        font-size: 14px;
      }

      a:last-child {
        @include button($bg: transparent, $pd: 20px);
        @include btn-sm;
        box-shadow: inset 0 0 0 2px #fff;
        display: inline-flex !important;
        align-items: center;
        justify-content: center;
        font-weight: 600;
      }
    }
  }
}

// hero 섹션

.hero {
  text-align: center;
  color: #374957;
  &__content {
    max-width: 1024px;
    margin: auto;
    padding: 80px 100px 40px;

    &__title {
      font-weight: 700;
      margin-bottom: 10px;
      line-height: 1.2;
      font-size: 42px;
      color: #0b2239;
    }

    &__subtitle {
      font-size: 18px;
      padding: 0 30px;
      color: #374957;
      font-weight: 400;
      line-height: 1.4;
      word-spacing: -2px;
      margin-bottom: 30px;
    }

    &__search-holder {
      @include pd-none;
      @include mg-none;
      box-sizing: border-box;
      &__input {
        background-color: #eff3f6;
        height: 64px;
        line-height: 64px;
        border-radius: 3px;
        @include mg-none;
        @include row;

        .type-selector {
          display: inline-block;

          &__box {
            display: inline-block;
          }

          &__btn {
            @include button($bg: none, $pd: 20px);
            @include row;
            position: relative;
            align-items: center;
            text-align: center;
            height: 64px;
            height: 100%;
            line-height: 64px;
            color: #374957;

            &::after {
              position: absolute;
              top: 50%;
              right: 0;
              width: 1px;
              height: 60%;
              transform: translatey(-50%);
              background-color: #cfd9e0;
              content: '';
            }

            span {
              min-width: 60px;
              font-weight: 400;
              color: #374957;
              font-size: 16px;
            }

            i {
              color: #5f7d95;
              fill: #5f7d95;
              transform: scale(0.7);
            }
          }
        }

        .search-input {
          // 최대로 늘리기
          flex-grow: 1;
          &__text {
            // input 길이는 따로 정했으니 여기도 지정해야함
            width: 100%;
            padding: 0 10px;
            height: 64px;
            line-height: 64px;
            border: none;
            background: none;
            white-space: nowrap;
            text-align: left;
          }
        }

        .search-btn {
          @include button($pd: 0);
          width: 64px;
          height: 64px;
          line-height: 64px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-weight: 600;

          i {
            fill: #fff;
          }
        }
      }
    }
    // 검색창 아래 작은 태그
    &__home-tags {
      margin: 20px auto 10px auto;
      font-size: 14px;
      a {
        color: #374957;
      }
    }
  }
}

.container {
  @include container;
}

.circle-cards {
  width: fit-content;
  margin: 40px auto 50px;
  display: grid;
  grid-template-columns: repeat(4, minmax(80px, 200px));
  gap: 30px;
  text-align: center;
  a {
    color: #0b2239;
    cursor: pointer;
    font-weight: 600px;
    text-decoration: none;
  }

  .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    background: linear-gradient(218.58deg, #2bc48a 11.5%, #a2f7c5 87.95%);
    border-radius: 50%;
    margin: 0 auto;
  }

  .image {
    width: 114px;
    height: 114px;
    border: 4px solid #fff;
    border-radius: 50%;
    margin: 0 auto;
    z-index: 5;
    overflow: hidden;
    background: linear-gradient(110.49deg, #eff3f6 26.28%, #d7d7ff 94.17%);

    img {
      width: 100%;
      height: auto;
      display: block;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__item {
    &__text {
      color: #374957;

      h6 {
        margin-bottom: 5px;
      }

      p {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 20px;
      }
    }
  }
}
