* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
}

body,
html {
  height: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0;
  padding: 0;
  color: #374957;
  line-height: 1.4;
}

.header {
  background: none;
  margin: 0;
  border: none;
  padding: 0;
}

.header--menu {
  height: 54px;
  background-color: #0b2239;
  padding: 0 20px;
}

.row {
  display: flex;
  width: 100%;
  height: 100%;
}

a {
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}

.row a img {
  width: 154;
  height: 30px;
  display: block;
  margin-top: 12px;
}

.nav {
  padding: 0 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-menu {
  height: 100%;
}

.main-menu ul {
  display: flex;
  margin-top: 14px;
}

.row li {
  list-style: none;
}

.row li a {
  color: #cfd9e0;
  margin: 0 10px;
  font-weight: 600;
}

.blank {
  width: 165px;
}

.lang-select {
  width: 16px;
  height: 11px;
}

.header--menu__login {
  min-width: 50px;
  color: #cfd9e0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header--menu__login a {
  margin-right: 20px;
}
.header--menu__login ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-login {
  box-shadow: inset 0 0 0 2px #fff;
  padding: 10px 20px;
  min-width: 34px;
  height: 34px;
  font-size: 14px;
  line-height: 34px;
  font-weight: 600;
}

.hero {
  color: #374957;
  text-align: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stickers {
  max-width: 1024px;
  padding: 80px 100px 40px;
}

.stickers--font {
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 1.2;
}

.stickers--font__desc {
  font-size: 18px;
  padding: 0 30px;
  color: #374957;
  font-weight: 400;
  line-height: 1.4;
}

.search-holder {
  max-width: 824px;
  height: 64px;
  background-color: #eff3f6;
}

.search-holder__input {
  max-width: 824px;
  display: flex;
}

.type-selector {
  width: 824px;
  height: 64px;
  display: flex;
}

.type-selector__search-type-btn {
  padding: 0 20px;
  border: none;
  outline: none;
  position: relative;
}

.type-selector__search-type-btn:after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 60%;
  transform: translateY(-50%);
  background-color: #cfd9e0;
  content: "";
}

.type-selector__search-btn i {
  margin-left: 5px;
}

.type-selector__search-input {
  width: 580px;
  padding: 0 10px;
  border: none;
  background-color: #eff3f6;
  line-height: 64px;
  font-size: 16px;
  flex-grow: 1;
}

.type-selector__search-btn {
  width: 64px;
  background-color: #4ad295;
  cursor: pointer;
  border: none;
}
.type-selector__search-btn i {
  color: #eee;
  margin: 0 24px;
}

.stickers--home-tags {
  margin: 20px 0 10px 0;
  font-size: 14px;
}
.stickers--home-tags span {
  color: #374957;
}

.stickers--home-tags__content {
  font-weight: 600;
}

.circle {
  width: 120px;
  height: 120px;
  background: linear-gradient(218.58deg, #2bc48a 11.5%, #a2f7c5 87.95%);
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle__image {
  width: 114px;
  height: 114px;
  border: 4px solid #fff;
  border-radius: 50%;
  margin: 0 auto;
  z-index: 5;
  overflow: hidden;
  background: linear-gradient(110.49deg, #eff3f6 26.28%, #d7d7ff 94.17%);
}
.circle__image img {
  transition: all 0.2 ease-in-out;
  width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1640px;
  padding: 0 60px;
  margin: 0 auto;
}
.container__cards {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 40px auto 50px;
  display: grid;
  grid-template-columns: repeat(4, minmax(80px, 200px));
  gap: 30px;
  text-align: center;
}
.container__cards__text {
  color: #374957;
}
.container__cards__text h6 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  flex-wrap: wrap;
  margin-bottom: 5px;
}
.container__cards__text p {
  margin-bottom: 20px;
}
.container__row-cards {
  margin-bottom: 50px;
}
.container__row-cards__list {
  margin-bottom: 40px;
}
.container__row-cards__list__header {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
}
.container__row-cards__list__header p {
  padding-bottom: 8px;
  font-weight: 600;
  color: #0b2239;
  font-size: 26px;
  margin-bottom: 10px;
}
.container__row-cards__list__header a {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  height: 35px;
  font-size: 16px;
  padding: 0 10px;
  color: #008b71;
}
.container__row-cards__list__header a i {
  margin-left: 10px;
  color: #008b71;
}
.container__row-cards__list__box-container {
  width: calc(100% + 20px);
  margin-left: -10px;
  height: 265px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 322px);
}
.container__row-cards__list__box-container__article {
  min-width: 320px;
  height: inherit;
  padding: 10px;
}
.container__row-cards__list__box-container__article__inner {
  position: relative;
  height: inherit;
}
.container__row-cards__list__box-container__article__inner a {
  display: block;
  border: 1px solid #cfd9e0;
  overflow: hidden;
  background-color: #fff;
}
.container__row-cards__list__box-container__article__inner__img-holder {
  width: 300px;
  height: 72%;
}
.container__row-cards__list__box-container__article__inner__img-holder img {
  margin: 5px auto;
  width: 300px;
  height: 188px;
  -o-object-fit: cover;
     object-fit: cover;
}
.container__row-cards__list__box-container__article__inner__img-holder__footer {
  padding: 5px 20px;
  height: 55px;
  color: #1d262d;
  line-height: 44px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 600;
}
.container__row-cards__list__box-container__article__inner__img-holder__footer .tag {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.container__row-cards__list__box-container__article__inner__img-holder__footer .tag span:last-child {
  color: #5f7d95;
  font-size: 13px;
}
.container__banner {
  background-color: #f8fafb;
  padding: 0 50px 0 60px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
}
.container__banner__box {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.container__banner__box__text {
  width: 33.33333%;
  padding: 50px 10px 50px 0;
}
.container__banner__box__text h5 {
  color: #0b2230;
  margin: 0;
  margin-bottom: 10px !important;
  font-size: 30px;
  line-height: 1.4;
  word-spacing: -5px;
}
.container__banner__box__text p {
  margin-bottom: 30px;
  font-size: 18px;
  color: #374957;
}
.container__banner__box__text__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #2bc48a;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 0 30px;
  min-width: 44px;
  height: 44px;
  font-size: 16px;
  line-height: 44px;
}
.container__banner__box__image {
  width: 66%;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container__banner__box__image img {
  height: auto;
  max-width: none;
  width: 730px;
  margin-top: 30px;
}

.slider {
  padding-bottom: 50px;
}
.slider__title {
  padding-bottom: 30px;
  text-align: center;
  outline: none;
}
.slider__title h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 30px;
  color: #0b2239;
}
.slider__title p {
  font-size: 18px;
  color: #4a6375;
  margin-bottom: 20px;
}
.slider__box {
  display: flex;
  justify-content: space-between;
}
.slider__box__items {
  width: 100%;
  max-width: 410px;
}
.slider__box__items__item {
  cursor: pointer;
  position: relative;
}
.slider__box__items__item i {
  position: absolute;
  width: 16px;
  top: 9px;
}
.slider__box__items__item__title {
  color: #4a6375;
  font-size: 22px;
  font-weight: 700;
  margin: 20px 30px 10px;
}
.slider__box__items__item__title--active {
  color: #2bc48a;
  font-size: 22px;
  font-weight: 700;
  margin: 20px 30px 10px;
}
.slider__box__items__item__text {
  color: #4a6375;
  margin: 0 30px 20px;
  font-size: 16px;
  word-spacing: -2px;
}
.slider__box__items__item__text a {
  font-weight: 600;
  color: #008b71;
}
.slider__box__items__item__text a:hover {
  text-decoration: underline;
}
.slider__box__images {
  display: flex;
  justify-content: end;
  width: 100%;
  max-height: 590px;
  margin-left: 30px;
}
.slider__box__images picture {
  width: 100%;
  height: 590px;
}
.slider__box__images picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transform: translateY(-30px);
}

.item-progress {
  width: 100%;
  height: 1px;
  background: #eff3f6;
}/*# sourceMappingURL=main.css.map */