* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
}

body,
html {
  height: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0;
  padding: 0;
  color: #374957;
  line-height: 1.4;
}

.header {
  background: none;
  margin: 0;
  border: none;
  padding: 0;
}
.header--menu {
  height: 54px;
  background-color: #0b2239;
  padding: 0 20px;
}

.row {
  display: flex;
  width: 100%;
  height: 100%;
}

a {
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}
.row a img {
  width: 154;
  height: 30px;
  display: block;
  margin-top: 12px;
}

.nav {
  padding: 0 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main-menu {
  height: 100%;
}

.main-menu ul {
  display: flex;
  // justify-content, align-items setting is not working.... why?
  margin-top: 14px;
}

.row li {
  list-style: none;
}

.row li a {
  color: #cfd9e0;
  margin: 0 10px;
  font-weight: 600;
}

.blank {
  width: 165px;
}

.lang-select {
  width: 16px;
  height: 11px;
}

.header--menu__login {
  min-width: 50px;
  color: #cfd9e0;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    margin-right: 20px;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.btn-login {
  box-shadow: inset 0 0 0 2px #fff;
  padding: 10px 20px;
  min-width: 34px;
  height: 34px;
  font-size: 14px;
  line-height: 34px;
  font-weight: 600;
}

.hero {
  color: #374957;
  text-align: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stickers {
  max-width: 1024px;
  padding: 80px 100px 40px;
}

.stickers--font {
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 1.2;
}

.stickers--font__desc {
  font-size: 18px;
  padding: 0 30px;
  color: #374957;
  font-weight: 400;
  line-height: 1.4;
}

.search-holder {
  max-width: 824px;
  height: 64px;

  background-color: #eff3f6;
}

.search-holder__input {
  max-width: 824px;
  display: flex;
}

.type-selector {
  width: 824px;
  height: 64px;
  display: flex;
}

.type-selector__search-type-btn {
  padding: 0 20px;
  border: none;
  outline: none;
  position: relative;
}

.type-selector__search-type-btn:after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 60%;
  transform: translateY(-50%);
  background-color: #cfd9e0;
  content: '';
}

.type-selector__search-btn i {
  margin-left: 5px;
}

.type-selector__search-input {
  width: 580px;
  padding: 0 10px;
  border: none;
  background-color: #eff3f6;
  line-height: 64px;
  font-size: 16px;
  flex-grow: 1;
}

.type-selector__search-btn {
  width: 64px;
  background-color: #4ad295;
  cursor: pointer;
  border: none;
  i {
    color: #eee;
    margin: 0 24px;
  }
}

.stickers--home-tags {
  margin: 20px 0 10px 0;
  font-size: 14px;

  span {
    color: #374957;
  }
}

.stickers--home-tags__content {
  font-weight: 600;
}

.circle {
  width: 120px;
  height: 120px;
  background: linear-gradient(218.58deg, #2bc48a 11.5%, #a2f7c5 87.95%);
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &__image {
    width: 114px;
    height: 114px;
    border: 4px solid #fff;
    border-radius: 50%;
    margin: 0 auto;
    z-index: 5;
    overflow: hidden;
    background: linear-gradient(110.49deg, #eff3f6 26.28%, #d7d7ff 94.17%);
    img {
      transition: all 0.2 ease-in-out;
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

.container {
  max-width: 1640px;
  padding: 0 60px;
  margin: 0 auto;

  &--mb {
    max-width: 1640px;
    padding: 0 60px;
    margin: 0 auto 60px auto;
  }

  &__cards {
    width: fit-content;
    margin: 40px auto 50px;
    display: grid;
    grid-template-columns: repeat(4, minmax(80px, 200px));
    gap: 30px;
    text-align: center;

    &__text {
      color: #374957;

      h6 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        font-size: 18px;
        flex-wrap: wrap;
        margin-bottom: 5px;
      }

      p {
        margin-bottom: 20px;
      }
    }
  }

  &__row-cards {
    margin-bottom: 50px;

    &__list {
      margin-bottom: 40px;
      &__header {
        display: flex;
        justify-content: space-between;
        max-width: 1400px;
        p {
          padding-bottom: 8px;
          font-weight: 600;
          color: #0b2239;
          font-size: 26px;
          margin-bottom: 10px;
        }
        a {
          display: inline-flex;
          align-items: center;
          font-weight: 700;
          height: 35px;
          font-size: 16px;
          padding: 0 10px;
          color: #008b71;
          i {
            margin-left: 10px;
            color: #008b71;
          }
        }
      }

      &__box-container {
        width: calc(100% + 20px);
        margin-left: -10px;
        height: 265px;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(4, 322px);

        &__article {
          min-width: 320px;
          height: inherit;
          padding: 10px;
          &__inner {
            position: relative;
            height: inherit;

            a {
              display: block;
              border: 1px solid #cfd9e0;
              overflow: hidden;
              background-color: #fff;
            }
            &__img-holder {
              width: 300px;
              height: 72%;

              img {
                margin: 5px auto;
                width: 300px;
                height: 188px;
                object-fit: cover;
              }

              &__footer {
                padding: 5px 20px;
                height: 55px;
                color: #1d262d;
                line-height: 44px;
                background-color: #fff;
                font-size: 14px;
                font-weight: 600;
                .tag {
                  display: flex;
                  justify-content: space-between;
                  margin-top: 10px;

                  span:last-child {
                    color: #5f7d95;
                    font-size: 13px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &__banner {
    background-color: #f8fafb;
    padding: 0 50px 0 60px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;

    &__box {
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;

      &__text {
        width: 33.33333%;
        padding: 50px 10px 50px 0;

        h5 {
          color: #0b2230;
          margin: 0;
          margin-bottom: 10px !important;
          font-size: 30px;
          line-height: 1.4;
          word-spacing: -5px;
        }
        p {
          margin-bottom: 30px;
          font-size: 18px;
          color: #374957;
        }
        &__button {
          display: inline-flex;
          // 왜 inline-flex를 하면 위아래로 여백이 생기지?
          justify-content: center;
          align-items: center;
          background: #2bc48a;
          color: #fff;
          font-weight: 600;
          border: none;
          border-radius: 3px;
          text-align: center;
          text-decoration: none;
          cursor: pointer;
          padding: 0 30px;
          min-width: 44px;
          height: 44px;
          font-size: 16px;
          line-height: 44px;
        }
      }

      &__image {
        width: 66%;
        padding: 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: auto;
          max-width: none;
          width: 730px;
          margin-top: 30px;
        }
      }
    }
  }
}

.slider {
  padding-bottom: 50px;

  &__title {
    padding-bottom: 30px;
    text-align: center;
    outline: none;

    h3 {
      margin-top: 0;
      margin-bottom: 5px;
      font-size: 30px;
      color: #0b2239;
    }

    p {
      font-size: 18px;
      color: #4a6375;
      margin-bottom: 20px;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    &__items {
      width: 100%;
      max-width: 410px;
      &__item {
        cursor: pointer;
        position: relative;

        i {
          position: absolute;
          width: 16px;
          top: 9px;
        }

        &__title {
          &--active {
            color: #2bc48a;
            font-size: 22px;
            font-weight: 700;
            margin: 20px 30px 10px;
          }

          color: #4a6375;
          font-size: 22px;
          font-weight: 700;
          margin: 20px 30px 10px;
        }

        &__text {
          color: #4a6375;
          margin: 0 30px 20px;
          font-size: 16px;
          word-spacing: -2px;
          a {
            font-weight: 600;
            color: #008b71;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    &__images {
      display: flex;
      justify-content: end;
      width: 100%;
      max-height: 590px;
      margin-left: 30px;

      picture {
        width: 100%;
        height: 590px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          transform: translateY(-30px);
        }
      }
    }
  }
}

.item-progress {
  width: 100%;
  height: 1px;
  background: #eff3f6;
}

.whatsnew {
  padding: 50px 20px 40px 0;
  background: #f8fafb;
  border-radius: 10px;

  &__box {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
  }

  &__text {
    width: 33.33333%;
    padding: 0 20px 0 60px;
    text-align: left;
    h5 {
      font-size: 30px;
      padding-right: 20px;
    }
    p {
      padding-right: 20px;
      color: #4a6375;
      font-size: 18px;
      margin-bottom: 30px;
    }

    &__button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      background: #2bc48a;
      border-radius: 3px;
      min-width: 44px;
      height: 44px;
      font-size: 16px;
      padding: 0 30px;
      color: #fff;
    }
  }

  &__cards {
    width: 66.66667%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

    &__box {
      display: flex;
      flex-wrap: wrap;
      align-items: start;
    }

    &__img-d {
      background-image: url(https://media.flaticon.com/dist/assets/e1f4e8671e83baec22bb86e7bc5d0055.png);
      height: 100%;
      border-radius: 6px;
      background-size: 320px;
      background-position: 50%;

      &--uicon {
        background-image: url(https://media.flaticon.com/dist/assets/eab458ca10b49876c230bb9c0b345ae8.jpg);
        height: 100%;
        border-radius: 6px;
        background-size: 320px;
        background-position: 50%;
      }

      &--figma {
        background-image: url(https://media.flaticon.com/dist/assets/2342114085d92b67dbf71081b378fb4e.jpg);
        height: 100%;
        border-radius: 6px;
        background-size: 320px;
        background-position: 50%;
      }
    }

    &__link {
      display: flex;
      flex-direction: column;
      background: #fff;
      height: 235px;
      width: 255px;
      padding: 10px;
      border-radius: 8px;
      color: #374957;
    }

    p {
      margin: 10px 0;
      padding-left: 10px;
      font-size: 18px;
      font-weight: 700;
    }
  }
}

.contributor {
  background-color: #0e2a47;
  padding: 0 50px 0 60px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 50px;

  &__box {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__text {
    width: 50%;
    padding: 50px 10px 50px 0;

    h5 {
      color: #fff;
      font-size: 30px;
      padding-right: 20px;
    }
    p {
      padding-right: 20px;
      color: #fff;
      font-size: 18px;
      margin-bottom: 30px;
    }

    &__button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      background: #2bc48a;
      border-radius: 3px;
      min-width: 44px;
      height: 44px;
      font-size: 16px;
      padding: 0 30px;
      color: #fff;

      &:hover {
        background: #00af80;
      }
    }
  }

  &__card {
    width: 50%;
    padding: 0 5px;
    box-sizing: border-box;
    img {
      width: 589px;
      height: auto;
      max-width: none;
      margin-left: auto;
      transform: translate(100px, 47px);
    }
  }
}
